<div class="container">
{{ form_start(form) }}
    {{ form_row(form.questions) }}
    {{ form_row(form.proposition) }}
    {{ form_row(form.correction) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
